<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>系统登录</title>
	<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/css/mdui.min.css">
	<script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/js/mdui.min.js"></script>
	<script src="/js/vue.js"></script>
	<script src="/js/jquery.min.js"></script>
</head>
<body class="mdui-theme-accent-blue">
	<div class="mdui-container" id="login_app" style="max-width: 640px;">
		<div class="mdui-typo">
			<h1 style="text-align: center;">
				<button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple" mdui-tooltip="{content: '主页'}" onclick="location='/index.html'"><i class="mdui-icon material-icons">home</i></button>
				系统登录
			</h1>
		</div>
		<div class="mdui-textfield mdui-textfield-floating-label">
			<i class="mdui-icon material-icons">account_circle</i>
			<label class="mdui-textfield-label">用户名</label>
			<input class="mdui-textfield-input" type="text" v-model="username_input"/>
		</div>
		<div class="mdui-textfield mdui-textfield-floating-label">
			<i class="mdui-icon material-icons">vpn_key</i>
			<label class="mdui-textfield-label">密码</label>
			<input class="mdui-textfield-input" type="password" v-model="password_input"/>
		</div>
		<br/>
		<div class="mdui-container">
			<div class="mdui-col-xs-6">
				<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-center" v-on:click="get_login">登录</button>
			</div>
			<div class="mdui-col-xs-6">
				<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-center" onclick="location='/regis.html'">没有账号？</button>
			</div>
		</div>
	</div>
	<script src="/login.js"></script>
</body>
</html>