<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>系统注册</title>
	<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/css/mdui.min.css">
	<script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/js/mdui.min.js"></script>
	<script src="/js/vue.js"></script>
	<script src="/js/jquery.min.js"></script>
</head>
<body class="mdui-theme-accent-blue">
	<div class="mdui-container" id="regis_app" style="max-width: 640px;">
		<div class="mdui-typo">
			<h1 style="text-align: center;">系统注册</h1>
		</div>
		<div class="mdui-textfield mdui-textfield-floating-label" v-bind:class="{ 'mdui-textfield-invalid': is_username_error }">
			<i class="mdui-icon material-icons">account_circle</i>
			<label class="mdui-textfield-label">用户名</label>
			<input class="mdui-textfield-input" type="text" v-model="username_input" v-on:change="clear_username_error"/>
			<div class="mdui-textfield-error">{{ username_error }}</div>
			<div class="mdui-textfield-helper">用户名只能使用大小写英文字母、数字和下划线，且需在 4 到 15 位之间</div>
		</div>
		<div class="mdui-textfield mdui-textfield-floating-label" v-bind:class="{ 'mdui-textfield-invalid': is_password_error }">
			<i class="mdui-icon material-icons">vpn_key</i>
			<label class="mdui-textfield-label">密码</label>
			<input class="mdui-textfield-input" type="password" v-model="password_input" v-on:change="clear_password_error"/>
			<div class="mdui-textfield-error">{{ password_error }}</div>
			<div class="mdui-textfield-helper">密码需在 6 到 20 位之间</div>
		</div>
		<div class="mdui-container-fluid">
			<div class="mdui-row mdui-valign mdui-row-gapless">
				<div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-9" v-bind:class="{ 'mdui-textfield-invalid': is_email_error }">
					<i class="mdui-icon material-icons">email</i>
					<label class="mdui-textfield-label">邮箱</label>
					<input class="mdui-textfield-input" type="text" v-model="email_input" v-on:change="clear_email_error"/>
					<div class="mdui-textfield-error">邮箱不合法</div>
					<div class="mdui-textfield-helper">仅允许使用 QQ 邮箱</div>
				</div>
				<div class="mdui-col-xs-3">
					<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-center" v-on:click="send_email">发送验证码</button>
				</div>
			</div>
		</div>
		<div class="mdui-textfield mdui-textfield-floating-label" v-bind:class="{ 'mdui-textfield-invalid': is_code_error }">
			<i class="mdui-icon material-icons">code</i>
			<label class="mdui-textfield-label">验证码</label>
			<input class="mdui-textfield-input" type="text" v-model="code_input" v-on:change="clear_code_error"/>
			<div class="mdui-textfield-error">验证码不能为空</div>
			<div class="mdui-textfield-helper">{{ code_message }}</div>
		</div>
		<br/>
		<div class="mdui-container">
			<div class="mdui-col-xs-6">
				<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-center" v-on:click="check">注册</button>
			</div>
			<div class="mdui-col-xs-6">
				<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-center" onclick="location='/login.html'">已有账号？</button>
			</div>
		</div>
	</div>
	<script src="/regis.js"></script>
</body>
</html>